<section data-section="vtex_api">
  <div class="x-main__vtex-api">
    <h2>Public API</h2>
    <ul class="x-main__vtex-api--list">
      <li>
        <button disabled type="button">Catalog</button>
      </li>
      <li>
        <button disabled type="button">Masterdata</button>
      </li>
      <li>
        <button disabled type="button">Search</button>
      </li>
    </ul>
    <a target="_blank" href="https://developers.vtex.com/vtex-rest-api/reference/get-to-know-vtex-apis">
      Check the docs
    </a>
  </div>
</section>