<section data-section="custom_fetch">
  <div class="x-main__custom-fetch">
    <h2>Custom Fetch</h2>
    <div class="x-main__custom-fetch--methods">
      <div>

        <label>
          GET
          <input value="GET" name="methods" type="radio" checked>
        </label>
        <label>
          POST
          <input value="POST" name="methods" type="radio">
        </label>
        <label>
          PUT
          <input value="PUT" name="methods" type="radio">
        </label>
      </div>
      <div>

        <label>
          PATCH
          <input value="PATCH" name="methods" type="radio">
        </label>
        <label>
          DELETE
          <input value="DELETE" name="methods" type="radio">
        </label>
      </div>
    </div>
    <label>
      <span>
        Endpoint
      </span>
      <input placeholder="/api/catalog_system/pvt/products/productgetbyrefid/refId" class="x-main__custom-fetch--input" name="endpoint">
      <small class="x-main__custom-fetch--error">Erro: Falha ao realizar a requisição</small>
    </label>
    <button>Enviar</button>
    <div class="x-main__custom-fetch--result"></div>
  </div>
</section>