<section data-section="custom_fetch">
  <div class="x-main__custom-fetch">
    <h2>HTTP Request</h2>
    <div class="x-main__custom-fetch--methods">
      <div>
        <label>
          GET
          <input value="GET" name="methods" type="radio" checked>
        </label>
        <label>
          POST
          <input value="POST" name="methods" type="radio">
        </label>
        <label>
          PUT
          <input value="PUT" name="methods" type="radio">
        </label>
      </div>
      <div>

        <label>
          PATCH
          <input value="PATCH" name="methods" type="radio">
        </label>
        <label>
          DELETE
          <input value="DELETE" name="methods" type="radio">
        </label>
      </div>
    </div>
    <label class="is--active">
      <span>
        Endpoint
      </span>
      <input placeholder="https://exemple.com/endpont?query=true" class="x-main__custom-fetch--input " name="endpoint">
      <small class="x-main__custom-fetch--error">Erro: Falha ao realizar a requisição</small>
    </label>
    <label>
      <span>
        Body
      </span>
      <textarea class="x-main__custom-fetch--input" rows="7" name="body">
{
  "exemple":true
}
      </textarea>
    </label>
    <button>Enviar</button>
    <div class="x-main__custom-fetch--result"></div>
    <div class="x-main__custom-fetch--download">
      <a download="response.json" data-type="json"> DOWNLOAD JSON</a>
      <a download="response.csv" data-type="csv">DOWNLOAD CSV</a>
    </div>
  </div>
</section>