<section data-section="custom_fetch">
  <div class="x-main__custom-fetch">
    <h2>Custom Fetch</h2>
    <div class="x-main__custom-fetch--methods">
      <label>
        GET
        <input value="GET" name="methods" type="radio" checked>
      </label>
      <label>
        POST
        <input value="POST" name="methods" type="radio">
      </label>
      <label>
        PUT
        <input value="PUT" name="methods" type="radio">
      </label>
      <label>
        PATCH
        <input value="PATCH" name="methods" type="radio">
      </label>
    </div>
    <label>
      <span>
        Endpoint
      </span>
      <input placeholder="/api/catalog_system/pvt/products/productgetbyrefid/refId" class="x-main__local-login-token" name="endpoint">
    </label>
    <button>Enviar</button>
  </div>
</section>