<section data-section="initial">
  <div class="x-main__initial">
    <ul class="x-main__initial--list">
      <li>
        <button data-content="product" disabled>Product</button>
      </li>
      <li>
        <button data-content="orderform" disabled>Orderform</button>
      </li>
      <li>
        <button data-content="datalayer" disabled>Datalayer</button>
      </li>
      <li>
        <button data-content="custom_fetch" disabled>Custom Fetch</button>
      </li>
      <li>
        <button data-content="store_info" disabled>Store info</button>
      </li>
      <li>
        <button data-content="local_login">Local login</button>
      </li>
    </ul>

  </div>
</section>