<section data-section="initial" class="is--active">
  <div class="x-main__initial">
    <ul class="x-main__initial--list">
      <li>
        <button data-content="product">Product</button>
      </li>
      <li>
        <button data-content="orderform">Orderform</button>
      </li>
      <li>
        <button title="Não disponível" data-content="page" disabled>Page Info</button>
      </li>
      <li>
        <button data-content="store_info">Store info</button>
      </li>
      <li>
        <button data-content="custom_fetch">HTTP Request</button>
      </li>
      <li>
        <button data-content="local_login">Legacy login</button>
      </li>
    </ul>

  </div>
</section>