<section data-section="orderform">
  <div class="x-main__orderForm">
    <h2>Order Form</h2>
    <div class="x-main__orderForm--items">
    </div>
    <h3>DOWNLOAD FULL OBJECT</h3>
    <div class="x-main__orderForm--links">
      <a download="orderform.json" data-type="json"> DOWNLOAD JSON </a>
      <!-- <a download="response.csv" data-type="print">PRINT ON CONSOLE</a> -->
      <a data-type="copy">COPY TO CLIPBOARD</a>
      <textarea class="x-main__orderForm--raw-content"></textarea>
    </div>
  </div>
</section>