<section data-section="page_info">
  <div class="x-main__page-info">
    <h2>Page Info</h2>
    <div class="x-main__page-info--loading spinningLoader active"></div>

    <div class="x-main__page-info--list">
    </div>
    <small>
      *Full reload the page to update this section
    </small>
    <h3>SHORTCUTS</h3>
    <div class="x-main__page-info--links">
      <a target="_blank" data-type="siteEditor"> SITE EDITOR </a>
      <a target="_blank" data-type="pages"> PÁGINAS (CMS) </a>
    </div>
  </div>
</section>