&__orderForm {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px 0;

  &--items {
    width: 90%;

    >div {
      margin: 15px 0;
    }
  }

  &--links {
    display: grid;
    width: 90%;
    flex: 1;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 5px;
  }

  &--raw-content {
    opacity: 0;
    position: absolute;
    cursor: none;
    z-index: -99;
    transform: scale(0);
  }
}