<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div class="x-app">
    <%= require('html-loader!./_partials/nav.html').default %>
      <header class="x-header">
        <div class="x-header__left">
          <img class="x-header__left--logo" src="<%=require('../src/assets/logo.png') %>" alt="VTEX Logo">

          <h1 class="x-header__left--title">VTEX Helpers</h1>
        </div>
        <div class="x-header__right">
          <span class="x-header__right--menu-button">
            <i></i>
            <i></i>
            <i></i>
          </span>
        </div>
      </header>

      <main class="x-main">
        <%= require('html-loader!./_partials/sections/initial.html').default %>
          <%= require('html-loader!./_partials/sections/product.html').default %>
            <%= require('html-loader!./_partials/sections/orderform.html').default %>
              <%= require('html-loader!./_partials/sections/api.html').default %>
                <%= require('html-loader!./_partials/sections/customFetch.html').default %>
                  <%= require('html-loader!./_partials/sections/storeInfo.html').default %>
                    <%= require('html-loader!./_partials/sections/localLogin.html').default %>

      </main>
      <%= require('html-loader!./_partials/footer.html').default %>
  </div>
</body>

</html>