<nav class="x-nav">
  <ul class="x-nav__menu">
    <li class="x-nav__menu-item" data-content="product">
      Product
    </li>
    <li class="x-nav__menu-item" data-content="orderform">
      Orderform
    </li>
    <li class="x-nav__menu-item" data-content="datalayer">
      Datalayer
    </li>
    <li class="x-nav__menu-item" data-content="custom_fetch">
      Custom Fetch
    </li>
    <li class="x-nav__menu-item" data-content="store_info">
      Store info
    </li>
    <li class="x-nav__menu-item" data-content="local_login">
      Local login
    </li>
  </ul>
</nav>