.x-footer {
  width: 100%;
  background-color: $black;
  position: absolute;
  padding: 5px 5px 5px 5px;
  bottom: 0px;
  display: flex;

  small {
    color: gray;
    display: block;
    white-space: nowrap;
    width: fit-content;
    font-size: 10px;
  }

  div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    a {
      font-size: 10px;
      color: white;
      display: block;
      border-radius: 0;
      text-decoration: underline;
    }
  }
}