body {
  font-family: Calibri;
}

.x-app {
  background-color: $lightgray;
  width: 400px;
  position: relative;
  overflow-x: hidden;

  button {
    background-color: $pink;
    color: $white;
    border-radius: 5px;
    padding: 15px 25px;
    border: 0;
    cursor: pointer;
  }


  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $white;
  }

  &::-webkit-scrollbar-thumb {
    background: $pink;
  }

  section {
    display: none;

    &.is--active {
      display: block;
    }
  }
}