body {
  font-family: Calibri;
}

.x-app {
  background-color: $white;
  width: 400px;
  position: relative;
  overflow-x: hidden;
  height: 600px;
  transition-duration: 0.3s;

  h2,
  h3 {
    padding: 5px 25px;
    color: $black;
    font-size: 28px;
    font-weight: bold;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 20px;
    display: block;
    width: 100%;
    text-align: center;
  }

  button {
    background-color: $pink;
    color: $white;
    border-radius: 5px;
    padding: 15px 25px;
    border: 0;
    cursor: pointer;

    transition-duration: 0.4s;

    &:active,
    &:hover {
      opacity: 0.7;
    }
  }

  input,
  textarea {
    border: 0;
    border: 1px solid $pink;
    color: $black;
    padding: 15px 25px;
    cursor: pointer;
    margin-top: 15px;
    width: 85%;
    transition-duration: 0.6s;
    color: $lightgray;
    border-radius: 5px;
    outline: none;

    &:active,
    &:focus {
      box-shadow: 1px 1px 5px $pink;
    }


    &::placeholder {
      opacity: 0.7;
      color: $lightgray;
    }
  }

  label {
    display: block;
    padding: 15px 25px;

    span {
      width: 100%;
      color: $black;
      font-family: Calibri;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 600;
      font-size: 20px;
      position: relative;
      color: gray;
    }

    >div {
      display: flex;
      align-items: flex-end;

      button {
        height: 100%;
        position: relative;
        left: -5px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }


  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $white;
  }

  &::-webkit-scrollbar-thumb {
    background: $pink;
  }

  section {
    display: none;

    &.is--active {
      display: block;
    }
  }
}

.x-input__wrapper {
  display: flex;
  width: 100%;
  position: relative;

  input {
    width: 100%;
  }

  button {
    right: 0;
    bottom: 0;
    width: 25%;
    height: 75%;
    position: absolute;
    font-weight: 400;
    font-size: 12px;
  }
}